@layer fonts {
	@font-face {
		font-family: 'PT Code';
		src:
			url('/assets/fonts/PTCode-Bold.woff2') format('woff2'),
			url('/assets/fonts/PTCode-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'PT Code';
		src:
			url('/assets/fonts/PTCode-Regular.woff2') format('woff2'),
			url('/assets/fonts/PTCode-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}

@layer normalize {
	/*!
https://serp.co/tools/css-reset/
<link rel="stylesheet" href="https://css.serp.co/css-reset/normalize.css/">
*/

	/* Document
   ========================================================================== */

	/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

	html {
		line-height: 1.15; /* 1 */
		-webkit-text-size-adjust: 100%; /* 2 */
	}

	/* Sections
   ========================================================================== */

	/**
 * Remove the margin in all browsers.
 */

	body {
		margin: 0;
	}

	/**
 * Render the `main` element consistently in IE.
 */

	main {
		display: block;
	}

	/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

	h1 {
		font-size: 2em;
		margin: 0.67em 0;
	}

	/* Grouping content
   ========================================================================== */

	/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

	hr {
		box-sizing: content-box; /* 1 */
		height: 0; /* 1 */
		overflow: visible; /* 2 */
	}

	/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

	pre {
		font-family: monospace, monospace; /* 1 */
		font-size: 1em; /* 2 */
	}

	/* Text-level semantics
   ========================================================================== */

	/**
 * Remove the gray background on active links in IE 10.
 */

	a {
		background-color: transparent;
	}

	/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

	abbr[title] {
		border-bottom: none; /* 1 */
		text-decoration: underline; /* 2 */
		text-decoration: underline dotted; /* 2 */
	}

	/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

	b,
	strong {
		font-weight: bolder;
	}

	/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

	code,
	kbd,
	samp {
		font-family: monospace, monospace; /* 1 */
		font-size: 1em; /* 2 */
	}

	/**
 * Add the correct font size in all browsers.
 */

	small {
		font-size: 80%;
	}

	/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}

	/* Embedded content
   ========================================================================== */

	/**
 * Remove the border on images inside links in IE 10.
 */

	img {
		border-style: none;
	}

	/* Forms
   ========================================================================== */

	/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit; /* 1 */
		font-size: 100%; /* 1 */
		line-height: 1.15; /* 1 */
		margin: 0; /* 2 */
	}

	/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

	button,
	input {
		/* 1 */
		overflow: visible;
	}

	/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

	button,
	select {
		/* 1 */
		text-transform: none;
	}

	/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

	button,
	[type='button'],
	[type='reset'],
	[type='submit'] {
		-webkit-appearance: button;
	}

	/**
 * Remove the inner border and padding in Firefox.
 */

	button::-moz-focus-inner,
	[type='button']::-moz-focus-inner,
	[type='reset']::-moz-focus-inner,
	[type='submit']::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	/**
 * Restore the focus styles unset by the previous rule.
 */

	button:-moz-focusring,
	[type='button']:-moz-focusring,
	[type='reset']:-moz-focusring,
	[type='submit']:-moz-focusring {
		outline: 1px dotted ButtonText;
	}

	/**
 * Correct the padding in Firefox.
 */

	fieldset {
		padding: 0.35em 0.75em 0.625em;
	}

	/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

	legend {
		box-sizing: border-box; /* 1 */
		color: inherit; /* 2 */
		display: table; /* 1 */
		max-width: 100%; /* 1 */
		padding: 0; /* 3 */
		white-space: normal; /* 1 */
	}

	/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

	progress {
		vertical-align: baseline;
	}

	/**
 * Remove the default vertical scrollbar in IE 10+.
 */

	textarea {
		overflow: auto;
	}

	/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

	[type='checkbox'],
	[type='radio'] {
		box-sizing: border-box; /* 1 */
		padding: 0; /* 2 */
	}

	/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

	[type='number']::-webkit-inner-spin-button,
	[type='number']::-webkit-outer-spin-button {
		height: auto;
	}

	/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

	[type='search'] {
		-webkit-appearance: textfield; /* 1 */
		outline-offset: -2px; /* 2 */
	}

	/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

	[type='search']::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

	::-webkit-file-upload-button {
		-webkit-appearance: button; /* 1 */
		font: inherit; /* 2 */
	}

	/* Interactive
   ========================================================================== */

	/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

	details {
		display: block;
	}

	/*
 * Add the correct display in all browsers.
 */

	summary {
		display: list-item;
	}

	/* Misc
   ========================================================================== */

	/**
 * Add the correct display in IE 10+.
 */

	template {
		display: none;
	}

	/**
 * Add the correct display in IE 10.
 */

	[hidden] {
		display: none;
	}

	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

@layer base {
	/* typography */
	:root {
		--font-family: 'PT Code', monospace;
		--font-size-base: 1rem;
		--scale: 1.2;
		--line-height: 1.5;
		--line-height-heading: 1.15;

		--font-size-sm: calc(var(--font-size-base) / var(--scale));
		--font-size-h6: calc(var(--font-size-base) * var(--scale));
		--font-size-h5: calc(var(--font-size-h6) * var(--scale));
		--font-size-h4: calc(var(--font-size-h5) * var(--scale));
		--font-size-h3: calc(var(--font-size-h4) * var(--scale));
		--font-size-h2: calc(var(--font-size-h3) * var(--scale));
		--font-size-h1: calc(var(--font-size-h2) * var(--scale));
	}

	/* colors */
	:root {
		--color-bg-dark: hsl(222 77% 2%);
		--color-bg: hsl(216 53% 5%);
		--color-bg-light: hsl(214 32% 9%);
		--color-text: hsl(215 100% 97%);
		--color-text-muted: hsl(215 29% 71%);
		--color-highlight: hsl(214 18% 41%);
		--color-border: hsl(214 24% 30%);
		--color-border-muted: hsl(214 34% 19%);
		--color-primary: hsl(214 78% 73%);
		--color-secondary: hsl(36 58% 62%);
		--color-danger: hsl(9 26% 64%);
		--color-warning: hsl(52 19% 57%);
		--color-success: hsl(146 17% 59%);
		--color-info: hsl(217 28% 65%);

		--color-Bug: hsl(78, 62%, 50%);
		--color-Dark: hsl(252, 5%, 45%);
		--color-Dragon: hsl(210, 89%, 55%);
		--color-Electric: hsl(51, 86%, 57%);
		--color-Fire: hsl(31, 96%, 64%);
		--color-Fairy: hsl(305, 73%, 75%);
		--color-Fighting: hsl(348, 62%, 65%);
		--color-Flying: hsl(219, 66%, 78%);
		--color-Ghost: hsl(231, 41%, 55%);
		--color-Grass: hsl(116, 43%, 60%);
		--color-Ground: hsl(20, 66%, 65%);
		--color-Ice: hsl(170, 49%, 60%);
		--color-Normal: hsl(100, 2%, 65%);
		--color-Poison: hsl(287, 53%, 65%);
		--color-Psychic: hsl(2, 92%, 74%);
		--color-Rock: hsl(47, 37%, 66%);
		--color-Steel: hsl(191, 31%, 55%);
		--color-Water: hsl(208, 69%, 65%);
	}

	:root {
		--shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.2), 0px 4px 4px hsla(0, 0%, 0%, 0.1);
	}

	[data-theme='light'] {
		--color-bg-dark: hsl(215 46% 91%);
		--color-bg: hsl(215 100% 96%);
		--color-bg-light: hsl(215 100% 100%);
		--color-text: hsl(219 87% 6%);
		--color-text-muted: hsl(214 24% 30%);
		--color-highlight: hsl(215 100% 100%);
		--color-border: hsl(214 16% 52%);
		--color-border-muted: hsl(215 22% 64%);
		--color-primary: hsl(214 60% 30%);
		--color-secondary: hsl(41 100% 16%);
		--color-danger: hsl(9 21% 41%);
		--color-warning: hsl(52 23% 34%);
		--color-success: hsl(147 19% 36%);
		--color-info: hsl(217 22% 41%);

		--color-Bug: hsl(78, 62%, 40%);
		--color-Dark: hsl(252, 5%, 35%);
		--color-Dragon: hsl(210, 89%, 45%);
		--color-Electric: hsl(51, 86%, 47%);
		--color-Fire: hsl(31, 96%, 54%);
		--color-Fairy: hsl(305, 73%, 65%);
		--color-Fighting: hsl(348, 62%, 55%);
		--color-Flying: hsl(219, 66%, 68%);
		--color-Ghost: hsl(231, 41%, 45%);
		--color-Grass: hsl(116, 43%, 50%);
		--color-Ground: hsl(20, 66%, 55%);
		--color-Ice: hsl(170, 49%, 50%);
		--color-Normal: hsl(100, 2%, 55%);
		--color-Poison: hsl(287, 53%, 55%);
		--color-Psychic: hsl(2, 92%, 64%);
		--color-Rock: hsl(47, 37%, 56%);
		--color-Steel: hsl(191, 31%, 45%);
		--color-Water: hsl(208, 69%, 55%);
	}

	body {
		font-family: var(--font-family);
		font-size: var(--font-size-base);
		line-height: var(--line-height);
		background-color: var(--color-bg-dark);
		color: var(--color-text-muted);
	}

	:where(
		a[href]:not([tabindex='-1']),
		area[href]:not([tabindex='-1']),
		input:not([disabled]):not([tabindex='-1']),
		select:not([disabled]):not([tabindex='-1']),
		textarea:not([disabled]):not([tabindex='-1']),
		button:not([disabled]):not([tabindex='-1']),
		iframe:not([tabindex='-1']),
		[tabindex]:not([tabindex='-1']),
		[contentEditable='true']:not([tabindex='-1'])
	):focus {
		outline: 2px dashed var(--color-secondary);
		outline-offset: 2px;
	}

	a {
		color: inherit;
	}

	img {
		display: block;
		max-width: 100%;
	}

	h6 {
		font-size: var(--font-size-h6);
		line-height: var(--line-height-heading);
		color: var(--color-text);
	}

	h5 {
		font-size: var(--font-size-h5);
		line-height: var(--line-height-heading);
		color: var(--color-text);
	}

	h4 {
		font-size: var(--font-size-h4);
		line-height: var(--line-height-heading);
		color: var(--color-text);
	}

	h3 {
		font-size: var(--font-size-h3);
		line-height: var(--line-height-heading);
		color: var(--color-text);
	}

	h2 {
		font-size: var(--font-size-h2);
		line-height: var(--line-height-heading);
		color: var(--color-text);
	}

	h1 {
		font-size: var(--font-size-h1);
		line-height: var(--line-height-heading);
		color: var(--color-text);
	}
}

@layer components {
	.button {
		--padding-vertical: 0.5em;
		--padding-horizontal: 0.5em;
		--border-color: var(--color-border-muted);
		--background-color: var(--color-bg);
		--color: var(--color-text);

		display: inline-block;
		padding: var(--padding-vertical) var(--padding-horizontal);
		border: 1px solid var(--border-color);
		border-top-color: var(--color-highlight);
		border-radius: 0.5em;
		background-color: var(--background-color);
		color: var(--color);
		box-shadow: var(--shadow);

		&:disabled {
			opacity: 50%;
			pointer-events: none;
		}
	}

	.skip-link {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;

		&:focus {
			position: static;
			width: auto;
			height: auto;
		}
	}

	.card {
		--padding: 1em;
		padding: var(--padding);
		border: 1px solid var(--color-border-muted);
		border-top-color: var(--color-highlight);
		border-radius: var(--padding);
		background-color: var(--color-bg);
		box-shadow: var(--shadow);
	}
}

@layer utilities {
	.text-sm {
		font-size: var(--font-size-sm);
	}

	.text-base {
		font-size: var(--font-size-base);
	}

	.text-h6 {
		--color: var(--color-text);
		font-size: var(--font-size-h6);
		line-height: var(--line-height-heading);
		color: var(--color);
	}

	.text-h5 {
		--color: var(--color-text);
		font-size: var(--font-size-h5);
		line-height: var(--line-height-heading);
		color: var(--color);
	}

	.text-h4 {
		--color: var(--color-text);
		font-size: var(--font-size-h4);
		line-height: var(--line-height-heading);
		color: var(--color);
	}

	.text-h3 {
		--color: var(--color-text);
		font-size: var(--font-size-h3);
		line-height: var(--line-height-heading);
		color: var(--color);
	}

	.text-h2 {
		--color: var(--color-text);
		font-size: var(--font-size-h2);
		line-height: var(--line-height-heading);
		color: var(--color);
	}

	.text-h1 {
		--color: var(--color-text);
		font-size: var(--font-size-h1);
		line-height: var(--line-height-heading);
		color: var(--color);
	}

	.wrapper {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5em;

		@media (min-width: 475px) {
			max-width: 475px;
			padding: 1em;
		}

		@media (min-width: 640px) {
			max-width: 640px;
		}

		@media (min-width: 768px) {
			max-width: 768px;
		}

		@media (min-width: 1024px) {
			max-width: 1024px;
		}

		@media (min-width: 1280px) {
			max-width: 1280px;
		}

		@media (min-width: 1536px) {
			max-width: 1536px;
		}
	}

	.flow > * + * {
		margin-top: 1em;
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}
